pyrogram==2.0.106
telethon==1.36.0
python-decouple==3.8
psycopg2-binary==2.9.9
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
TgCrypto
yt-dlp
asyncpg
aiohttp
requests
BeautifulSoup4
urllib3
zstandard
aiofiles 
flask==2.3.3
zstd
brotli
